# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode cache
__pycache__/

# Ignore log files
*.log

# Ignore SQLite database files
*.sqlite

# Ignore last extraction timestamp file
last_extraction.txt

# Ignore SQLite and similar databases
*.db

# Ignore Parquet files
*.parquet

# Ignore the loaded_data folder
loaded_data/

